.wrapper {
  position: relative;
  width: 100%;

  .screen {
    position: absolute;
    width: 100%;
    height: 0;
    background: #336a58;
    transition: all 200ms 0ms linear;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    //align-items: center;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 140px;

    .lyrics {
      color: #aaa;
      font-size: 32px;
      font-weight: bolder;
      margin-bottom: 30px;
      text-align: left;
      cursor: pointer;
    }

    .active {
      color: white;
    }
  }

  .lyricsActive {
    height: 90vh;
    visibility: visible;
  }
}