.song-nr {
  width: 10%;
}

.song-cover {
  width: 10%;
}

.song-title {
  width: 30%;
}

.song-album {
  width: 30%;
}

.song-duration {
  width: 20%;
}

.melody {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 250ms 0ms ease-in-out;

  &:hover {
    background: #cccccc67;
  }

  & > .song-cover {
    height: 50px;
    width: 50px;
    margin-inline: auto;
  }
}

.songPlaying {
  background: #aaaaaa23;

  & > * {
    color: aquamarine;
  }
}
